label {
  display: flex;
  flex-wrap: unset;
}

label input[type=range] {
  width: 20rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: var(--surface-2);
}

th {
  padding: .25rem;
  cursor: pointer;
}



tfoot > tr > td[colspan] >div {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 4rem;
  padding: .5rem;
}


