<div class="topRow">
  <label>
    <span> Page Size ({{ pageSize() }}):</span>
    <input type="range" name="size" [value]="pageSize()"
      (input)="pageSize.set($any($event.target).valueAsNumber)" min="5"
      [max]="250" />
  </label>
  <input type="range" name="count" min="1" max="100" value="10"
    [value]="addNumber()"
    (input)="addNumber.set($any($event.target).valueAsNumber)" />
  <button (click)="addRows(addNumber())">Add {{ addNumber() * 1000 }} new
    rows</button>
</div>
<label>
  <span>Filter:</span>
  <input type="text" name="size" [value]="filter()"
    (input)="filter.set($any($event.target).value); goPage(0)" />
</label>
<table>
  <thead>
    <tr>
      <th (click)="orderBy('id')">id</th>
      <th (click)="orderBy('screenName')">Screen name</th>
      <th (click)="orderBy('firstName')">Firstname</th>
      <th (click)="orderBy('lastName')">Lastname</th>
      <th (click)="orderBy('phone')">Phone</th>
      <th (click)="orderBy('email')">Email</th>
      <th (click)="orderBy('remark')">Remark</th>
    </tr>
  </thead>
  <tbody [highLight]="filter">
    @for (id of page(); track $index) {
      <tr [personId]="id()"></tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <div class="wrap">
          <button id="prev" title="hold down for automatic paging">Previous
            Page</button>
          <input type="range" name="curpage" [value]="currentPage()"
            (input)="goPage($any($event.target).valueAsNumber)"
            [max]="pageCount() - 1" id="" />
          <span>(page:{{ currentPage() }} of:{{ pageCount() - 1 }})</span>
          <button id="next" title="hold down for automatic paging">Next
            Page</button>
          <span>Available rows:{{ data.totalCount() }}</span>
          <span *ngIf="filter()">In filter:{{ list().length }}</span>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
