<label>
  <span> Page Size ({{pageSize()}}):</span>
  <input type="range" name="size" [value]="pageSize()"
    (input)="pageSize.set($any($event.target).valueAsNumber)" min="5" [max]="250">
</label>
<table>
  <thead>
    <tr>
      <th (click)="sortProp.set('id')">id</th>
      <th (click)="sortProp.set('screenName')">Screen name</th>
      <th (click)="sortProp.set('firstName')">Firstname</th>
      <th (click)="sortProp.set('lastName')">Lastname</th>
      <th (click)="sortProp.set('email')">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let id of page()" [personId]="id()"></tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <div class="wrap">

          <button id="prev" title="hold down for automatic paging">Previous
            Page</button>
          <input type="range" name="curpage" [value]="currentPage()"
            (input)="goPage($any($event.target).valueAsNumber)"
            [max]="pageCount()-1" id="">
          <span>({{currentPage()}} / {{pageCount()-1}})</span>
          <button id="next" title="hold down for automatic paging">Next
            Page</button>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
<!--
<pre><code>
  {{ {
    "page" : currentPage(),
  }|json}}
</code></pre> -->
