<tr>
  <td colspan="8">
    <div class="wrap">
      <button
        id="prev"
        title="hold down for automatic paging">
        Previous Page
      </button>
      <input
        type="range"
        name="curPage"
        [value]="currentPage()"
        (input)="goPage($any($event.target).valueAsNumber)"
        [max]="pageCount() - 1" />
      <span>(page:{{ currentPage() | number }} of:{{ pageCount() - 1 | number }})</span>
      <button
        id="next"
        title="hold down for automatic paging">
        Next Page
      </button>
      <span>Available rows:{{ data.totalCount() | number }}</span>
      @if (filter()) {
        <span>In filter:{{ list().length | number }}</span>
      }
    </div>
  </td>
</tr>
