<table-settings
  [(pageSize)]="pageSize"
  [(trackToUse)]="trackToUse"
  (testPerf)="testPerf()"
  [(filter)]="filter" />

<table>
  <thead
    [(sortProp)]="sortProp"
    [(order)]="order"></thead>

  <tbody [highLight]="filter()">
    @if (trackToUse() === 'index') {
      @for (id of computedPage(); track $index) {
        <tr [personId]="id"></tr>
      }
    }
    @if (trackToUse() === 'id') {
      @for (id of computedPage(); track id) {
        <tr [personId]="id"></tr>
      }
    }
  </tbody>

  <tfoot
    [(currentPage)]="currentPage"
    [pageSize]="pageSize()"
    [list]="list()"
    [filter]="filter()"></tfoot>
</table>
