:host {
  display: block;
  padding: 1rem;
}


table {
  margin-top: var(--size-2);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: var(--surface-2);
}

button#prev:active,
button#next:active {
  cursor: progress;
}
